{% extends "base.html" %}

{% block title %}
Ενότητα Α
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module1">
  Πρόοδος 18%<table class="table1" border=1px align=left width=600px height=25px>
    <td bgcolor=#40ff00  style="width: 18%"></td>
    <td  style="width: 82%"></td></table>
    <h3><b>Ερώτηση 5 από 28:<br><br>Α5. Σε ποιο διοικητικό επίπεδο παρέχεται η ψηφιακή δημόσια υπηρεσία (επιτρέπονται περισσότερες από μια απαντήσεις); </b></h3>
    
      <form action="." method="POST" class="form">{{form.as_p}}
      <br><br><br><br><br><br>
      <p><input type="submit" value="Καταχωρηση"></p>
        {% csrf_token %}</form>
  </div>

{% endblock %}
