{% extends "base.html" %}

{% block title %}Περιγραφή Υπηρεσίας{% endblock %}

{% block content %}
<h1> Ενότητα Α: Περιγραφή Υπηρεσίας</h1>

<div class="module">
  {% if request.user.is_authenticated %}
  <p>
  <ul>
    <li>
    <a href="{% url 'questionnaire:contactdetails' %}">Στοιχεία επικοινωνίας</a>
    </li>
    <li>
    <a href="{% url 'questionnaire:servicedescription' %}">Περιγραφή Υπηρεσίας</a>
    </li>
    <li>    
    <a href="{% url 'questionnaire:serviceowner'  %}">Αρμόδιος Φορέας</a>
    </li>    
    <li>
    <a href="{% url 'questionnaire:enduser'  %}">Τελικός χρήστης</a>
    </li>    
    <li>
    <a href="{% url 'questionnaire:administrative_level' %}">Επίπεδο Διοίκησης</a>
    </li>
  </ul>
  </p>
  <p><a href="{% url 'questionnaire:area2' %}">Επόμενη Ενότητα</a></p>
  {% else %}
      <p>Πατήστε <a href="{% url 'login' %}">εδώ για να εισέλθετε</a></p>
      
    {% endif %}
</div>
{% endblock %}

