{% extends "base.html" %}

{% block title %}Περιγραφή Υπηρεσίας{% endblock %}

{% block content %}
<h1> Ερωτηματολόγιο ΙΜΜ </h1>

<div class="module">
  <h3>Ενότητα Α: Περιεχόμενο Υπηρεσίας</h3>
  <p>
    <a href="{% url "contact_details"  %}>Στοιχεία επικοινωνίας</a>
    <a href="{% url "service_description"  %}>Περιγραφή Υπηρεσίας</a>
    <a href="{% url "service_owner"  %}>Αρμόδιος Φορέας</a>
    <a href="{% url "end_user"  %}>Τελικός χρήστης</a>
    <a href="{% url "administrative_level"  %}>Επίπεδο Διοίκησης</a>
  </p>
</div>
{% endblock %}

