{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
  {% if request.user.is_authenticated %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
  {% endif %}
 <div class="module">
    {% if request.user.is_authenticated %}
     Πρόοδος 4%<table class="table1" border=1px align=left width=400px height=25px>
    <td bgcolor=#40ff00  style="width: 4%"></td>
    <td  style="width: 96%"></td>
    </table>
    <p>Ερώτηση 1 από 28:<br><br>Α1. Παρακαλώ συμπληρώστε το όνομά σας και στοιχεία επικοινωνίας (αριθμός τηλεφώνου π.χ.'+30123456789', διεύθυνση ηλεκτρονικού ταχυδρομείου)</p>
 
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>

    {% else %}
      <p>Καλωσήλθατε στην εφαρμογή συμπλήρωσης του Ερωτηματολογίου Διαλειτουργικότητας Ψηφιακών Δημοσίων Υπηρεσιών ΙΜΜ.<br> Το ερωτηματολόγιο αποτελείται από πέντε ενότητες που περιλαμβάνουν 28 ερωτήσεις και χρειάζεται περίπου 20-30 λεπτά για να συμπληρωθεί.<br><br>Πατήστε <a href="{% url 'login' %}">εδώ για να εισέλθετε</a></p>
      
    {% endif %}
  </div>

{% endblock %}
