{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module">
    {% if request.user.is_authenticated %}
    <h3><b>Ερώτηση 1:<br> Παρακαλώ συμπληρώστε το όνομά σας και στοιχεία επικοινωνίας (αριθμός τηλεφώνου π.χ.'+30123456789', διεύθυνση ηλεκτρονικού ταχυδρομείου)</b></h3>
 
   <ul>
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
    </ul>
    {% else %}
      <p>Πατήστε <a href="{% url 'login' %}">εδώ για να εισέλθετε</a></p>
      
    {% endif %}
  </div>

{% endblock %}
