{% extends "base.html" %} 
 
{% block title %}
 Ενότητα {{ question.area.symbol }}
{% endblock %}

{% block content %}
  <h1>Ενότητα {{ question.area.symbol }}: {{question.area.area_text}}</h1>
 <div class="module">				
    {% if question.percentage == 100 %}
   Πρόοδος 100%<table class="table1" border=1px align=left width=400px height=25px>
    <td bgcolor=#40ff00  style="width: 100%" ></td>
    </table>
   {% else %}
   Πρόοδος {{question.percentage}}%<table class="table1" border=1px align=left width=400px height=25px >
    <td bgcolor=#40ff00  style="width: {{question.percentage}}%"></td>
    <td  style="width:(100-{{question.percentage}})%"></td>
    </table>
    {% endif %}
    
    {% if question.id == 21 %}
    <p>Ερώτηση {{ question.id }} από 28:<br><br>{{ question.question_text|linebreaksbr}}</p>
   {% else %}
   <p>Ερώτηση {{ question.id }} από 28:<br><br>{{ question.area.symbol }}{{question.number}}. {{ question.question_text }}</p><br>
   {% endif %}
   {% if error_message %}<p><strong>{{ error_message}}</strong></p>{% endif %}
   <form action="{% url 'questionnaire:score' question.id %}" method="post">
   {% csrf_token %}
   <div class="radio" style="font-size:16px;"> 
   {% for answer in question.answer_set.all %}
    <input type="radio" name="answer" id="answer{{ forloop.counter }}" value="{{ answer.id }}"/></td>
    <label for="answer{{ forloop.counter }}">{{ answer.answer_text }}</label>
   {% endfor %}
   </div>
   <input type="submit" value="ΚΑΤΑΧΩΡΗΣΗ"/> 
   </form>  
 </div>
{% endblock %}
