{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module">
  Πρόοδος 14%<table class="table1" border=1px align=left width=400px height=25px>
    <td bgcolor=#40ff00  style="width: 14%"></td>
    <td  style="width: 86%"></td></table>
    <p>Ερώτηση 4 από 28:<br><br>Α4. Ποια είναι η βασική ομάδα τελικών χρηστών στην οποία παρέχεται η Δημόσια Υπηρεσία; </p>
 
    <ul>
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
    </ul>
  </div>

{% endblock %}
