{% extends "base.html" %}
{% load staticfiles %}
{% block title %}IMM{% endblock %}

{% block content %}
<h1><img src="{% static 'images/logo_isa.png' %}" style="vertical-align:middle;float:center;height:50px; clear:left;">&nbsp; ISA² - Τεχνολογικές λύσεις για λιγότερη γραφειοκρατία</h1>

<div class="module1">
  {% if request.user.is_authenticated %}
  <p>Πατήστε <a href="{% url 'questionnaire:contactdetails' %}"><u>εδώ</u></a> για να ξεκινήσετε τη συμπλήρωση του ερωτηματολογίου</p>
  
  {% else %}
    
    <blockquote><h3><b>Εισαγωγή</b></h3>
Το ερωτηματολόγιο που ακολουθεί σας επιτρέπει να αξιολογήσετε το επίπεδο ωριμότητας της δημόσιας υπηρεσίας σας. <br>
Χρησιμοποιεί το Ευρωπαϊκό Μοντέλο Αξιολόγησης της Διαλειτουργικότητας(Interoperability Maturity Model-IMM) που παρέχει<br> στους δημόσιους οργανισμούς σημαντικές πληροφορίες για δύο βασικές πτυχές της επίδοσης της διαλειτουργικότητάς τους:
<ul><li>• Το τρέχον επίπεδο διαλειτουργικότητας μιας Ψηφιακής Δημόσιας Υπηρεσίας</li>
    <li>• Προτεραιότητες βελτίωσης για την επίτευξη ανώτερου επιπέδου διαλειτουργικότητας</li>
</ul></blockquote>


    <blockquote> <h3><b>Ιστορική αναδρομή</b></h3>
    Η δράση για το <a href="https://ec.europa.eu/isa2/solutions/imm_en"><u>Ευρωπαϊκό Μοντέλο Ωριμότητας της Διαλειτουργικότητας-IMM</u></a> περιλαμβάνεται στο <a href="https://ec.europa.eu/isa2/home_en"><u>πρόγραμμα ISA²</u></a>. <br>Το ISA² είναι ένα πρόγραμμα της Ευρωπαϊκής Επιτροπής ύψους 131 εκατ. Ευρώ, το οποίο αναπτύσσει <a href="https://ec.europa.eu/isa2/solutions_en"><u>ψηφιακές λύσεις</u></a> <br>που καθιστούν διαλειτουργικές,  διασυνοριακές και διατομεακές τις δημόσιες υπηρεσίες προς όφελος των δημόσιων διοικήσεων,<br> των επιχειρήσεων και των πολιτών σε ολόκληρη την ΕΕ.</blockquote>


   <blockquote> <h3><b>Ερωτηματολόγιο</b></h3>
    Το ερωτηματολόγιο απευθύνεται στους ιδιοκτήτες ελληνικών ψηφιακών δημόσιων υπηρεσιών καθώς και σε εκείνους<br> που υποστήριξαν την υλοποίησή τους, όπως οι αρχιτέκτονες της επιχείρησης και οι ανάδοχοι. <br>

    Σχεδιασμένο ως εργαλείο αυτοαξιολόγησης, το ερωτηματολόγιο αξιολόγησης IMM είναι ένα σύνολο ερωτήσεων που αποσκοπούν <br>στην αξιολόγηση των βασικών πτυχών διαλειτουργικότητας μιας δημόσιας υπηρεσίας.<br> Η γνώση αυτή έχει ως αποτέλεσμα εξατομικευμένες, εμπιστευτικές ανατροφοδοτήσεις και συστάσεις για τη βελτίωση της υπηρεσίας.<br>

    Το IMM έχει σχεδιαστεί για να ολοκληρωθεί περίπου σε 30 λεπτά. Αποτελείται από πέντε ενότητες και συνολικά 28 ερωτήσεις.<br> Μετά τη συμπλήρωση του ερωτηματολογίου θα δημιουργηθεί έκθεση με τα αποτελέσματα διαλειτουργικότητας καθώς και συστάσεις<br> για την περαιτέρω βελτίωση της δημόσιας υπηρεσίας σας.</blockquote>



  <blockquote><h3><b>Επικοινωνία</b></h3>

 Ακολουθήστε όλες τις δραστηριότητες που σχετίζονται με το IMM στη σελίδα της κοινότητας:<br> <a href="https://joinup.ec.europa.eu/community/communityimm/description"><u>https://joinup.ec.europa.eu/community/communityimm/description</u></a> <br><br>

    Για λεπτομερείς πληροφορίες σχετικά με την έρευνα IMM, παρακαλούμε κατεβάστε τα ακόλουθα έγγραφα: <br>
    <table class="table1">
      <tr><td style="border:0px;"><a href="{% static 'documentation/Ερωτηματολόγιο ΙΜΜ 2017.pdf' %}"><u>Ερωτηματολόγιο ΙΜΜ 2017</u></a>&nbsp;</td>
      <td style="border:0px;"><a href="{% static 'documentation/Κατευθυντήρια οδηγία ΙΜΜ 2017.pdf' %}"><u>Κατευθυντήρια οδηγία ΙΜΜ 2017</u></a>&nbsp;</td>
      <td style="border:0px;"><a href="{% static 'documentation/Συστάσεις ΙΜΜ 2017.pdf' %}"><u>Συστάσεις ΙΜΜ 2017</u></a></td></tr></table></blockquote>
     
     <blockquote>Πατήστε <a href="{% url 'login' %}"><u>εδώ</u></a> για να εισέλθετε στο ερωτηματολόγιο.</blockquote>
      
   {% endif %}
</div>
{% endblock %}

