{% extends "base.html" %}
{% load questionnaire_tags %}
{% load staticfiles %}
{% load mathfilters %}
 
{% block title %}
 Συστάσεις ενότητας Β
{% endblock %}

{% block content %}			
 
 <div class="module">
  <p><u>Συστάσεις για την ενότητα Β - Διανομή Υπηρεσίας</u></p>
   <table class="table2"  border="1|1">
   <tr><th></th><th width=360px>Ερώτηση</th><th width=80px>Επίπεδο</th><th width=800px>Σύσταση</th><tr>

   {% ifequal '0.075' b1maturity|floatformat:'3' %}
   <tr><td>Β1</td><td>Ερ: Μέσω ποιων καναλιών διανομής είναι η ψηφιακή δημόσια υπηρεσία διαθέσιμη στο χρήστη; Απ: Ένα ψηφιακό κανάλι.</td><td>Επί τούτω</td><td>Όλοι οι τελικοί χρήστες δεν θα είναι σε θέση να χρησιμοποιήσουν την υπηρεσία σας λόγω του γεγονότος ότι μόνο ένα ψηφιακό κανάλι είναι διαθέσιμο ως σημείο πρόσβασης σε αυτό. Προκειμένου να εξασφαλιστεί η δυνατότητα πρόσβασης σε όλους τους τελικούς χρήστες, η προσθήκη ενός παραδοσιακού καναλιού θα ήταν επωφελής.</td></tr>
   {% endifequal %}
   {% ifequal '0.225' b1maturity|floatformat:'3' %}
  <tr><td>Β1</td><td>Ερ: Μέσω ποιων καναλιών διανομής είναι η ψηφιακή δημόσια υπηρεσία διαθέσιμη στο χρήστη; <br>Απ: Ένα ψηφιακό και ένα παραδοσιακό κανάλι.</td><td>Βασικό</td><td>Εκτός από ένα ψηφιακό και ένα παραδοσιακό κανάλι, η υπηρεσία σας θα μπορούσε να βελτιώσει την προσβασιμότητά της προσθέτοντας περισσότερα ψηφιακά κανάλια.</td></tr>
   {% endifequal %}
   {% ifequal '0.3' b1maturity|floatformat:'3' %}
  <tr><td>Β1</td><td>Ερ: Μέσω ποιων καναλιών διανομής είναι η ψηφιακή δημόσια υπηρεσία διαθέσιμη στο χρήστη; Απ: Πολλαπλά ψηφιακά και παραδοσιακά κανάλια.</td><td>Βιώσιμο</td><td>Οι πρωτοπόροι χρησιμοποιούν διαδραστικά εργαλεία ψηφιακής συνεργασίας, όπως εικονικούς πράκτορες που βασίζονται στην τεχνητή νοημοσύνη για την παροχή 24x7 άμεσων αλληλεπιδράσεων προς τους τελικούς χρήστες. Διερευνήστε τις δυνατότητες προσθήκης τέτοιων χαρακτηριστικών στο τρέχον σύνολο καναλιών παροχής υπηρεσιών.</td></tr>
   {% endifequal %}
   {% ifequal '0.375' b1maturity|floatformat:'3' %}
  <tr><td>Β1</td><td>Ερ: Μέσω ποιων καναλιών διανομής είναι η ψηφιακή δημόσια υπηρεσία διαθέσιμη στο χρήστη; Απ: Πολλαπλά ψηφιακά (συμπεριλαμβανομένης της διαδραστικής ψηφιακής συνεργασίας) και παραδοσιακά κανάλια.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.075' b2maturity|floatformat:'3' %}
   <tr><td>Β2</td><td>Ερ: Χρησιμοποιεί η ψηφιακή δημόσια υπηρεσία την προσυμπλήρωση για ψηφιακά διαθέσιμα πεδία δεδομένων;<br> Απ: Δεν υπάρχει προσυμπλήρωση.</td><td>Επί τούτω</td><td>Επί του παρόντος, η υπηρεσία σας δεν απαιτεί προσυμπλήρωση ή δεν κάνει χρήση προσυμπλήρωσης.Εάν ισχύει το πρώτο , αξιολογείστε περιοδικά κατά πόσον η προσυμπλήρωση γίνεται απαραίτητη καθώς εξελίσσεται η υπηρεσία σας.  Και στις δύο περιπτώσεις, συμβουλευτείτε τις πρακτικές των ομότιμων συνεργατών για να βεβαιωθείτε ότι δεν παραλείπετε τις ευκαιρίες προσυμπλήρωσης. Αξιολογήστε και χαρτογραφήστε τις διάφορες πηγές που θα μπορούσατε να χρησιμοποιήσετε για την προσυμπλήρωση. Εκτελέστε δοκιμές χρήστη, εάν είναι απαραίτητο, για να ορίσετε ποια πεδία θα μπορούσαν να είναι προσυμπληρωμένα και ποια είναι η επίδραση της προσυμπλήρωσης.</td></tr>
   {% endifequal %}
   {% ifequal '0.225' b2maturity|floatformat:'3' %}
  <tr><td>Β2</td><td>Ερ: Χρησιμοποιεί η ψηφιακή δημόσια υπηρεσία την προσυμπλήρωση για ψηφιακά διαθέσιμα πεδία δεδομένων;<br> Απ: Μερική προσυμπλήρωση.</td><td>Βασικό</td><td>Η υπηρεσία σας προσυμπληρώνει επιλεγμένα, αλλά όχι όλα τα πεδία δεδομένων που είναι ηλεκτρονικά διαθέσιμα. Η προσυμπλήρωση είναι μία από τις ισχυρότερες εκδηλώσεις διαλειτουργικότητας, καθώς προσθέτει σημαντική αξία στους χρήστες όσον αφορά τη μείωση της επιβάρυνσης του χρήστη και την επιτάχυνση της διαδικασίας αίτησης παροχής υπηρεσιών. Μέσα στην διοίκησή σας, η προσυμπλήρωση ελαχιστοποιεί τον κίνδυνο εσφαλμένων καταχωρίσεων δεδομένων. Καταγράψτε όλες τις πληροφορίες που είναι ηλεκτρονικά διαθέσιμες και σχεδιάστε την υπηρεσία σας για να τις χρησιμοποιήσετε ηλεκτρονικά. Ξεκινήστε πρώτα με αυθεντικές πηγές, αλλά εξετάστε επίσης τη χρήση πηγών πληροφοριών που δεν είναι επίσημες, αλλά ενδεχομένως προσφέρουν παρόμοια προστιθέμενη αξία.</td></tr>
   {% endifequal %}
   {% ifequal '0.375' b2maturity|floatformat:'3' %}
  <tr><td>Β2</td><td>Ερ: Χρησιμοποιεί η ψηφιακή δημόσια υπηρεσία την προσυμπλήρωση για ψηφιακά διαθέσιμα πεδία δεδομένων;<br> Απ: Πλήρης προσυμπλήρωση.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.050' b3maturity|floatformat:'3' %}
   <tr><td>Β3</td><td>Ερ: Οι διοικητικοί κανόνες και οι διαδικασίες που αποτελούν τη βάση της ψηφιακής δημόσιας υπηρεσίας είναι διαφανείς για τον χρήστη ή τους χρήστες;<br> Απ: Δεν υπάρχει διαφάνεια.</td><td>Επί τούτω</td><td>Επί του παρόντος, η υπηρεσία σας δεν παρέχει πληροφορίες για τους κανόνες και τις διαδικασίες στους τελικούς χρήστες της. Αυτό μπορεί να επηρεάσει αρνητικά την αντίληψη της υπηρεσίας σας και μπορεί να οδηγήσει σε λανθασμένες υποθέσεις ή / και προσδοκίες των τελικών χρηστών. Χαρτογραφήστε όλες τις πληροφορίες που θα ήταν επωφελείς για τους τελικούς χρήστες (όπως οι μηχανισμοί λήψης αποφάσεων, οι προθεσμίες και οι υποχρεώσεις υποβολής εκθέσεων) και γνωστοποιήστε τις μέσω των διαθέσιμων καναλιών.</td></tr>
   {% endifequal %}
   {% ifequal '0.150' b3maturity|floatformat:'3' %}
  <tr><td>Β3</td><td>Ερ: Οι διοικητικοί κανόνες και οι διαδικασίες που αποτελούν τη βάση της ψηφιακής δημόσιας υπηρεσίας είναι διαφανείς για τον χρήστη ή τους χρήστες; <br>Απ: Υπάρχει μερική διαφάνεια.</td><td>Βασικό</td><td>Επί του παρόντος, η υπηρεσία σας παρέχει περιορισμένες πληροφορίες για τους κανόνες και τις διαδικασίες στους τελικούς χρήστες της. Χαρτογραφήστε όλες τις πληροφορίες που θα ήταν επωφελείς για τους τελικούς χρήστες (όπως οι μηχανισμοί λήψης αποφάσεων, οι προθεσμίες και οι υποχρεώσεις υποβολής εκθέσεων) και θα τις γνωστοποιήσετε μέσω των διαθέσιμων καναλιών.</td></tr>
   {% endifequal %} 
   {% ifequal '0.250' b3maturity|floatformat:'3' %}
  <tr><td>Β3</td><td>Ερ: Οι διοικητικοί κανόνες και οι διαδικασίες που αποτελούν τη βάση της ψηφιακής δημόσιας υπηρεσίας είναι διαφανείς για τον χρήστη ή τους χρήστες; <br>Απ: Πλήρης διαδικαστική διαφάνεια.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %} 

   {% ifequal '0.050' b4maturity|floatformat:'3' %}
   <tr><td>Β4</td><td>Ερ: Είναι διαφανή για τον χρήστη τα θέματα προστασίας των προσωπικών δεδομένων;<br> Απ: Δεν υπάρχουν πληροφορίες σχετικά με το απόρρητο.</td><td>Επί τούτω</td><td>Επί του παρόντος, δεν παρέχονται στους τελικούς χρήστες καμία πληροφορία σχετικά με το απόρρητο των δεδομένων. Αυτό είναι ωστόσο απαραίτητο για την ενίσχυση της εμπιστοσύνης των χρηστών στην ψηφιακή δημόσια υπηρεσία. Χαρτογραφήστε όλες τις πληροφορίες που θα ήταν επωφελείς για τους τελικούς χρήστες και γνωστοποιήστε τις μέσω των διαθέσιμων καναλιών.</td></tr>
   {% endifequal %}
   {% ifequal '0.150' b4maturity|floatformat:'3' %}
  <tr><td>Β4</td><td>Ερ: Είναι διαφανή για τον χρήστη τα θέματα προστασίας των προσωπικών δεδομένων; <br>Απ: Μερικές πληροφορίες απορρήτου.</td><td>Βασικό</td><td>Επί του παρόντος, στους τελικούς χρήστες παρέχεται μόνο ένα υποσύνολο πληροφοριών σχετικά με το απόρρητο των δεδομένων τους. Χαρτογραφήστε όλες τις πληροφορίες που θα ήταν επωφελείς για τους τελικούς χρήστες και εστιάστε στην κάλυψη όλων των κενών για να εξασφαλίσετε πλήρη διαφάνεια.</td></tr>
   {% endifequal %}
   {% ifequal '0.200' b4maturity|floatformat:'3' %}
  <tr><td>Β4</td><td>Ερ: Είναι διαφανή για τον χρήστη τα θέματα προστασίας των προσωπικών δεδομένων; <br>Απ: Πλήρεις πληροφορίες απορρήτου.</td><td>Βιώσιμο</td><td>Η ψηφιακή δημόσια υπηρεσία παρέχει λεπτομερείς πληροφορίες σχετικά με το απόρρητο των δεδομένων στους χρήστες. Ωστόσο, προς το παρόν δεν είναι δυνατόν ο χρήστης να διαχειρίζεται (ορισμένες από αυτές) τις πληροφορίες απορρήτου δεδομένων διαδικτυακά. Αυτή όμως είναι η επιθυμητή τελική κατάσταση. Ως πρώτο βήμα, αναλύστε ποια πεδία είναι σημαντικά να διαχειριστούν από τον τελικό χρήστη, καθορίζοντας και δοκιμάζοντας ένα σύνολο περιπτώσεων χρήσης.</td></tr>
   {% endifequal %}
   {% ifequal '0.250' b4maturity|floatformat:'3' %}
  <tr><td>Β4</td><td>Ερ: Είναι διαφανή για τον χρήστη τα θέματα προστασίας των προσωπικών δεδομένων; <br>Απ: Πλήρεις πληροφορίες απορρήτου και διαχείριση χρηστών.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}


 {% ifequal '0.025' b5maturity|floatformat:'3' %}
   <tr><td>Β5</td><td>Ερ: Μπορούν οι χρήστες να παρέχουν ανατροφοδότηση σχετικά με την ποιότητα της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Δεν υπάρχει μηχανισμός ανάδρασης χρήστη.</td><td>Επί τούτω</td><td>Αυτή τη στιγμή, η ψηφιακή δημόσια υπηρεσία δεν παρέχει τη δυνατότητα ανάδρασης. Ωστόσο, αυτό είναι ευεργετικό για τη συλλογή πληροφοριών σχετικά με τους τομείς βελτίωσης και γνώσης των ιδιαίτερων πλεονεκτημάτων της ψηφιακής δημόσιας υπηρεσίας. Βεβαιωθείτε ότι έχετε διαθέσιμο ένα φυσικό ή ψηφιακό κανάλι για την καταγραφή αυτών των πληροφοριών και την αντιμετώπιση παραπόνων.</td></tr>
   {% endifequal %}
   {% ifequal '0.075' b5maturity|floatformat:'3' %}
  <tr><td>Β5</td><td>Ερ: Μπορούν οι χρήστες να παρέχουν ανατροφοδότηση σχετικά με την ποιότητα της ψηφιακής δημόσιας υπηρεσίας; <br>Απ: Φυσικό κανάλι ανατροφοδότησης.</td><td>Βασικό</td><td>Η ψηφιακή δημόσια υπηρεσία σας διαθέτει έναν μηχανισμό φυσικής ανάδρασης που είναι διαθέσιμος στους χρήστες (π.χ. τηλέφωνο, ταχυδρομικά). Εξετάστε την προσθήκη ενός ψηφιακού καναλιού για τη λήψη ανατροφοδοτήσεων. Οι πιθανές επιλογές είναι μια ειδική διεύθυνση ηλεκτρονικού ταχυδρομείου, η λειτουργικότητα μέσω της ιστοσελίδας ή λειτουργία ζωντανής συνομιλίας. Έχοντας ένα ψηφιακό κανάλι ανατροφοδότησης μειώνεται η προσπάθεια των τελικών χρηστών και πιθανώς αυξάνεται το ποσό και οι λεπτομέρειες της ανατροφοδότησης που θα λάβετε.</td></tr>
   {% endifequal %}
   {% ifequal '0.100' b5maturity|floatformat:'3' %}
  <tr><td>Β5</td><td>Ερ: Μπορούν οι χρήστες να παρέχουν ανατροφοδότηση σχετικά με την ποιότητα της ψηφιακής δημόσιας υπηρεσίας; <br>Απ: Ψηφιακό κανάλι ανάδρασης.</td><td>Βιώσιμο</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία σας προσφέρει τη δυνατότητα ανάδρασης. Θα ήταν ευεργετικό να παρέχονται πρόσθετες πληροφορίες σχετικά με την ανατροφοδότηση από άλλους τελικούς χρήστες. Με αυτόν τον τρόπο, οι τελικοί χρήστες θα έχουν μια σαφή εικόνα της ποιότητας των προσφερόμενων λειτουργιών, των περιορισμών τους και θα μπορούν να μάθουν από τις εμπειρίες των χρηστών του άλλου.</td></tr>
   {% endifequal %}
  {% ifequal '0.125' b5maturity|floatformat:'3' %}
  <tr><td>Β5</td><td>Ερ: Μπορούν οι χρήστες να παρέχουν ανατροφοδότηση σχετικά με την ποιότητα της ψηφιακής δημόσιας υπηρεσίας; <br>Απ: Ψηφιακό κανάλι ανατροφοδότησης και γνώση της ανάδρασης των άλλων.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.025' b6maturity|floatformat:'3' %}
   <tr><td>Β6</td><td>Ερ: Είναι η ψηφιακή δημόσια υπηρεσία προσβάσιμη σε άτομα με αναπηρίες(π.χ. οπτικές, ακουστικές, φυσικές, γνωστικές);<br> Απ: Μη ισότιμη πρόσβαση.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν είναι εξίσου προσβάσιμη σε όλους τους τελικούς χρήστες. Υλοποιήστε δυνατότητες προσβασιμότητας για εύκολη πλοήγηση, ενημέρωση και αλληλεπίδραση με την ψηφιακή δημόσια υπηρεσία για άτομα με ειδικές ανάγκες. Εξετάστε ένα πρότυπο προσβασιμότητας, όπως είναι οι Οδηγίες 2.0 για την Προσβασιμότητα στο Περιεχόμενο Ιστού (WAI), επίπεδο ΑΑ για το σκοπό αυτό.</td></tr>
   {% endifequal %}
   {% ifequal '0.075' b6maturity|floatformat:'3' %}
  <tr><td>Β6</td><td>Ερ: Είναι η ψηφιακή δημόσια υπηρεσία προσβάσιμη σε άτομα με αναπηρίες(π.χ. οπτικές, ακουστικές, φυσικές, γνωστικές); <br>Απ: Μερικώς ισότιμη πρόσβαση.</td><td>Βασικό</td><td>Παρόλο που οι ψηφιακές δημόσιες υπηρεσίες σας παρέχουν ορισμένες δυνατότητες προσβασιμότητας, δεν συμμορφώνονται πλήρως με πρότυπα προσβασιμότητας όπως οι Οδηγίες 2.0 για την Προσβασιμότητα στο Περιεχόμενο Ιστού (WAI), επίπεδο ΑΑ. Εργαστείτε για την πλήρη υλοποίηση ενός προτύπου προσβασιμότητας για να διασφαλίσετε ότι η ψηφιακή δημόσια υπηρεσία σας μπορεί να αποκτήσει το λογότυπο συμμόρφωσης.</td></tr>
   {% endifequal %}
   {% ifequal '0.125' b6maturity|floatformat:'3' %}
  <tr><td>Β6</td><td>Ερ: Είναι η ψηφιακή δημόσια υπηρεσία προσβάσιμη σε άτομα με αναπηρίες(π.χ. οπτικές, ακουστικές, φυσικές, γνωστικές); <br>Απ: Πλήρης συμμόρφωση με τα πρότυπα πρόσβασης στο διαδίκτυο.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

    {% ifequal '0.025' b7maturity|floatformat:'3' %}
   <tr><td>Β7</td><td>Ερ: Υπάρχουν περιορισμοί για κατοίκους εξωτερικού και αλλοδαπούς για τη χρήση της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Περιορισμοί προς αλλοδαπούς / μη υπηκόους.</td><td>Επί τούτω</td><td>Αυτή τη στιγμή υπάρχουν περιορισμοί για κατοίκους εξωτερικού ή αλλοδαπούς που χρησιμοποιούν την ψηφιακή δημόσια υπηρεσία. Προσδιορίστε πόσα άτομα ενδέχεται να επηρεαστούν από αυτό και σχεδιάστε ένα σχέδιο για διασφάλιση διασυνοριακής παροχής υπηρεσιών διαθέτοντας την ψηφιακή δημόσια υπηρεσία σε ξένους χρήστες (απαιτώντας π.χ. εναλλακτικούς μηχανισμούς επαλήθευσης ταυτότητας).</td></tr>
   {% endifequal %}
  {% ifequal '0.125' b7maturity|floatformat:'3' %}
   <tr><td>Β7</td><td>Ερ: Υπάρχουν περιορισμοί για κατοίκους εξωτερικού και αλλοδαπούς για τη χρήση της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Χωρίς περιορισμούς.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}


   {% ifequal '0.050' b8maturity|floatformat:'3' %}
   <tr><td>Β8</td><td>Ερ: Σε ποιο βαθμό υποστηρίζεται η πολυγλωσσία;<br> Απ: Μονόγλωσση υπηρεσία.</td><td>Επί τούτω</td><td>Η ψηφιακή σας δημόσια υπηρεσία δεν είναι πολύγλωσση. Εξετάστε στο ελάχιστο μια πολυγλωσσική διεπαφή. Προσφέρετε το σε μία ή περισσότερες γλώσσες που ανταποκρίνονται καλύτερα στη σύνθεση της κοινότητας χρηστών σας. Μπορείτε να ξεκινήσετε πρώτα με την παροχή πολύγλωσσων βασικών πληροφοριών και στη συνέχεια να επεκτείνετε το πεδίο της μετάφρασης.</td></tr>
   {% endifequal %}
   {% ifequal '0.150' b8maturity|floatformat:'3' %}
  <tr><td>Β8</td><td>Ερ: Σε ποιο βαθμό υποστηρίζεται η πολυγλωσσία; <br>Απ: Μερικώς πολύγλωσση υπηρεσία.</td><td>Βασικό</td><td>Επί του παρόντος, ορισμένες από τις σελίδες και η τεκμηρίωση είναι πολύγλωσσες. Ενώ αυτό είναι ένα καλό σημείο εκκίνησης, μπορείτε να εξετάσετε το ενδεχόμενο παροχής ολόκληρης της υπηρεσίας (συμπεριλαμβανομένης της λειτουργικής και τεχνικής τεκμηρίωσης) σε πολλές γλώσσες. Χρησιμοποιήστε αυτοματοποιημένα εργαλεία μετάφρασης για να επιτύχετε αυτόν τον στόχο. Εξετάστε τη συνεργασία με τους Ευρωπαίους ομότιμους για να κατανείμετε το βάρος, να εξομαλύνετε τις λειτουργίες και να κάνετε την πολυγλωσσία αναπόσπαστο μέρος της στρατηγικής σας για την παροχή υπηρεσιών.</td></tr>
   {% endifequal %}
  {% ifequal '0.250' b8maturity|floatformat:'3' %}
  <tr><td>Β8</td><td>Ερ: Σε ποιο βαθμό υποστηρίζεται η πολυγλωσσία; <br>Απ: Πλήρως πολύγλωσσο.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}


{% ifequal '0.050' b9maturity|floatformat:'3' %}
   <tr><td>Β9</td><td>Ερ: Σε ποιο βαθμό χρησιμοποιούνται τα υπάρχοντα σημασιολογικά πρότυπα και προδιαγραφές για την ανταλλαγή δεδομένων;<br> Απ: Όχι, μόνο αποκλειστικά πρότυπα.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία σας χρησιμοποιεί αποκλειστικά πρότυπα ιδιοκτησίας και δεν αξιοποιεί υπάρχοντα (ανοιχτά) σημασιολογικά πρότυπα για την ανταλλαγή δεδομένων. Εξετάστε τη χρήση (ανοιχτών) σημασιολογικών προτύπων για τη βελτίωση της διαλειτουργικότητας της ψηφιακής δημόσιας υπηρεσίας σας με το εξωτερικό περιβάλλον.</td></tr>
   {% endifequal %}
   {% ifequal '0.150' b9maturity|floatformat:'3' %}
  <tr><td>Β9</td><td>Ερ: Σε ποιο βαθμό χρησιμοποιούνται τα υπάρχοντα σημασιολογικά πρότυπα και προδιαγραφές για την ανταλλαγή δεδομένων;<br>Απ: Μερικώς, με βάση ανοιχτά σημασιολογικά πρότυπα.</td><td>Βασικό</td><td>Η ψηφιακή δημόσια υπηρεσία αξιοποιεί ορισμένα (ανοιχτά) σημασιολογικά πρότυπα για την ανταλλαγή δεδομένων, αλλά τα συνδυάζει με ιδιόκτητα πρότυπα. Διερευνήστε εάν η υπηρεσία σας θα μπορεί να κινηθεί προς μια κατάσταση όπου η ανταλλαγή δεδομένων βασίζεται εξ ολοκλήρου σε υφιστάμενα (ανοιχτά) σημασιολογικά πρότυπα και προδιαγραφές. Η εξάλειψη της εξάρτησης από τις ιδιόκτητες ροές δεδομένων θα βελτιώσει σημαντικά τη διαλειτουργικότητα της ψηφιακής δημόσιας υπηρεσίας σας.</td></tr>
   {% endifequal %}
  {% ifequal '0.250' b9maturity|floatformat:'3' %}
  <tr><td>Β9</td><td>Ερ: Σε ποιο βαθμό χρησιμοποιούνται τα υπάρχοντα σημασιολογικά πρότυπα και προδιαγραφές για την ανταλλαγή δεδομένων;<br>Απ: Πλήρως, βάσει ανοιχτών σημασιολογικών προτύπων.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

  {% ifequal '0.050' b10maturity|floatformat:'3' %}
   <tr><td>Β10</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία περιλαμβάνεται σε ένα κατάλογο υπηρεσιών;<br> Απ: Όχι.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία σας δεν είναι καταχωρημένη σε κατάλογο υπηρεσιών. Η καταχώρηση της δημόσιας υπηρεσίας σε έναν κατάλογο συνιστάται για την προώθηση και αύξηση της χρήσης της υπηρεσίας.</td></tr>
   {% endifequal %}
   {% ifequal '0.100' b10maturity|floatformat:'3' %}
  <tr><td>Β10</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία περιλαμβάνεται σε ένα κατάλογο υπηρεσιών; <br>Απ: Σε κατάλογο με περιορισμένο ακροατήριο.</td><td>Ευκαιριακό</td><td>Η ψηφιακή σας δημόσια υπηρεσία είναι καταχωρημένη σε έναν κατάλογο ο οποίος είναι προσβάσιμος μόνο σε μια ομάδα χρηστών περιορισμένης πρόσβασης. Εξετάστε την αξιοποίηση ενός διαθέσιμου στο κοινό καταλόγου για να προσεγγίσετε ένα ευρύτερο κοινό-στόχο.</td></tr>
   {% endifequal %}
   {% ifequal '0.150' b10maturity|floatformat:'3' %}
  <tr><td>Β10</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία περιλαμβάνεται σε ένα κατάλογο υπηρεσιών; <br>Απ: Σε ένα δημόσιο κατάλογο.</td><td>Βασικό</td><td>Η ψηφιακή σας δημόσια υπηρεσία είναι καταχωρημένη σε έναν κατάλογο που είναι διαθέσιμος στο κοινό αλλά δεν μπορεί να εντοπιστεί ηλεκτρονικά. Η διασφάλιση της ανιχνευσιμότητας διαδικτυακά είναι σημαντική για την προώθηση της κατανάλωσης της ψηφιακής δημόσιας υπηρεσίας από μηχανή σε μηχανή. Επικεντρωθείτε στην παροχή διαλειτουργικών αναγνώσιμων από μηχανή, περιγραφών της δημόσιας υπηρεσίας, όπως τα στοιχεία επικοινωνίας, οι πληροφορίες για τη δημόσια υπηρεσία, ο πάροχος υπηρεσιών, τα κριτήρια επιλεξιμότητας και οι απαιτούμενες πληροφορίες ή αποδείξεις. Υλοποιήστε πρότυπα όπως το CPSV-AP για να εξασφαλίσετε μια λύση που ταιριάζει στις ανάγκες των δυνητικών χρηστών.</td></tr>
   {% endifequal %}
   {% ifequal '0.200' b10maturity|floatformat:'3' %}
  <tr><td>Β10</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία περιλαμβάνεται σε ένα κατάλογο υπηρεσιών; <br>Απ: Σε κατάλογο εύκολα προσβάσιμο και περιγραφικό.</td><td>Βιώσιμο</td><td>Η ψηφιακή δημόσια υπηρεσία σας είναι καταχωρημένη σε δημόσιο και ηλεκτρονικά προσβάσιμο κατάλογο και περιλαμβάνει μια περιγραφή της δημόσιας υπηρεσίας. Ωστόσο, αυτή τη στιγμή δεν αξιοποιούνται πλήρως πρότυπα όπως το CPSV-AP. Η υιοθέτηση αυτών των προτύπων θα συμβάλει στην παροχή διαλειτουργικών περιγραφών της δημόσιας υπηρεσίας και ομαδικών υπηρεσιών ανάλογα με τα συμβάντα της ζωής ή τις επιχειρηματικές εκδηλώσεις.</td></tr>
   {% endifequal %}
  {% ifequal '0.250' b10maturity|floatformat:'3' %}
  <tr><td>Β10</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία περιλαμβάνεται σε ένα κατάλογο υπηρεσιών; <br>Απ: Εύκολα προσβάσιμο και περιγραφικό κατάλογο χρησιμοποιώντας πρότυπα.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

  {% ifequal '0.050' b11maturity|floatformat:'3' %}
   <tr><td>Β11</td><td>Ερ: Έχει ορίσει η ψηφιακή δημόσια υπηρεσία μια διαδικασία πιστοποίησης;<br> Απ: Όχι, δεν υπάρχει διαθέσιμη διαδικασία πιστοποίησης.</td><td>Επί τούτω</td><td>Παρέχετε την ψηφιακή δημόσια υπηρεσία προς άλλες διοικήσεις και οργανισμούς χωρίς διαδικασία πιστοποίησης. Ως αποτέλεσμα, υπάρχει κίνδυνος οι διασυνδέσεις να μην λειτουργούν σωστά, π.χ. Από πλευράς ασφάλειας, διακυβέρνησης, τεχνολογικής και σημασιολογικής διαλειτουργικότητας και διαθεσιμότητας.
Εξετάστε την ανάπτυξη μιας τυποποιημένης διαδικασίας πιστοποίησης για να διασφαλίσετε ότι η υπηρεσία σας μπορεί να παραδοθεί με σταθερό και ασφαλή τρόπο στους τελικούς χρήστες.</td></tr>
   {% endifequal %}
   {% ifequal '0.075' b11maturity|floatformat:'3' %}
   <tr><td>Β11</td><td>Ερ: Έχει ορίσει η ψηφιακή δημόσια υπηρεσία μια διαδικασία πιστοποίησης;<br> Απ: Ναι, είναι διαθέσιμη μια διαδικασία πιστοποίησης.</td><td>Βασικό</td><td>Παρέχετε την ψηφιακή δημόσια υπηρεσία προς άλλες διοικήσεις και οργανισμούς χωρίς διαδικασία πιστοποίησης. Ως αποτέλεσμα, υπάρχει κίνδυνος οι διασυνδέσεις να μην λειτουργούν σωστά, π.χ. Από πλευράς ασφάλειας, διακυβέρνησης, τεχνολογικής και σημασιολογικής διαλειτουργικότητας και διαθεσιμότητας.
Εξετάστε την ανάπτυξη μιας τυποποιημένης διαδικασίας πιστοποίησης για να διασφαλίσετε ότι η υπηρεσία σας μπορεί να παραδοθεί με σταθερό και ασφαλή τρόπο στους τελικούς χρήστες.</td></tr>
   {% endifequal %}
   {% ifequal '0.125' b11maturity|floatformat:'3' %}
   <tr><td>Β11</td><td>Ερ: Έχει ορίσει η ψηφιακή δημόσια υπηρεσία μια διαδικασία πιστοποίησης;<br> Απ: Όχι, δεν απαιτείται μια διαδικασία πιστοποίησης.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}


   </table>
 <p><a href="{% url 'questionnaire:maturity' %}"><u>Επιστροφή</u></a></p>
 </div>
{% endblock %}


