{% extends "base.html" %}
{% load questionnaire_tags %}
{% load staticfiles %}
{% load mathfilters %}
 
{% block title %}
 Συστάσεις ενότητας Δ
{% endblock %}

{% block content %}			
 
 <div class="module">
  <p><u>Συστάσεις για την ενότητα Δ - Διαχείριση Υπηρεσίας</u></p>
   <table class="table2">
   <tr><th width=15px></th><th width=360px>Ερώτηση</th><th width=80px>Επίπεδο</th><th width=800px>Σύσταση</th><tr>
   {% ifequal '0.075' d1maturity|floatformat:'3' %}
   <tr><td>Δ1</td><td>Ερ: Παρακαλώ να παρέχετε πληροφορίες εάν και πώς η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και τις γνώσεις με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις);<br>
▪ Ανταλλαγή τεκμηρίωσης για την παροχή σε άλλους σχετιζόμενους οργανισμούς πολύτιμων πληροφοριών αναφορικά με τις διαδικασίες, την οργάνωση, τη διακυβέρνηση, τις επιλογές τεχνολογίας κλπ.<br>
▪ Κοινή χρήση πηγαίου κώδικα ή λογισμικό με δυνατότητα λήψης για να δοθεί η δυνατότητα σε άλλους οργανισμούς να οικοδομήσουν αποτελεσματικά τις υπηρεσίες τους.<br>
▪ Διαθεσιμότητα ανοικτών υπηρεσιών Web-API για να δοθεί η δυνατότητα σε άλλους οργανισμούς και ιδιώτες να επαναχρησιμοποιήσουν τη λειτουργικότητα ή να αποκτήσουν πρόσβαση σε δεδομένα μέσω διαδικτύου ή εφαρμογών για κινητά.<br>
▪ Παροχή υποστήριξης σε οργανισμούς που αξιοποιούν τους πόρους που παρέχονται.<br> Απ: Κανένα από τα παραπάνω.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν μοιράζεται κανένα ή μόνο μερικά στοιχεία και γνώσεις με το εξωτερικό περιβάλλον. Εργαστείτε για την επαναχρησιμοποίηση και την κοινή χρήση σε τέσσερις τομείς:<br>
1. Παροχή ανοικτών υπηρεσιών Web API<br>
2. Ανταλλαγή πηγαίου κώδικα ή / και στοιχεία που μπορούν να μεταφορτωθούν(συμπεριλαμβανομένης της απαιτούμενης άδειας)<br>
3. Κοινή χρήση τεκμηρίωσης<br>
4. Παροχή γνώσεων (άμεση υποστήριξη Q & A)</td></tr>
   {% endifequal %}
    {% ifequal '0.150' d1maturity|floatformat:'3' %}
   <tr><td>Δ1</td><td>Ερ: Παρακαλώ να παρέχετε πληροφορίες εάν και πώς η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και τις γνώσεις με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις);<br>
▪ Ανταλλαγή τεκμηρίωσης για την παροχή σε άλλους σχετιζόμενους οργανισμούς πολύτιμων πληροφοριών αναφορικά με τις διαδικασίες, την οργάνωση, τη διακυβέρνηση, τις επιλογές τεχνολογίας κλπ.<br>
▪ Κοινή χρήση πηγαίου κώδικα ή λογισμικό με δυνατότητα λήψης για να δοθεί η δυνατότητα σε άλλους οργανισμούς να οικοδομήσουν αποτελεσματικά τις υπηρεσίες τους.<br>
▪ Διαθεσιμότητα ανοικτών υπηρεσιών Web-API για να δοθεί η δυνατότητα σε άλλους οργανισμούς και ιδιώτες να επαναχρησιμοποιήσουν τη λειτουργικότητα ή να αποκτήσουν πρόσβαση σε δεδομένα μέσω διαδικτύου ή εφαρμογών για κινητά.<br>
▪ Παροχή υποστήριξης σε οργανισμούς που αξιοποιούν τους πόρους που παρέχονται.<br> Απ: Μία από τις παραπάνω επιλογές.</td><td>Ευκαιριακό</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν μοιράζεται κανένα ή μόνο μερικά στοιχεία και γνώσεις με το εξωτερικό περιβάλλον. Εργαστείτε για την επαναχρησιμοποίηση και την κοινή χρήση σε τέσσερις τομείς:<br>
1. Παροχή ανοικτών υπηρεσιών Web API<br>
2. Ανταλλαγή πηγαίου κώδικα ή / και στοιχεία που μπορούν να μεταφορτωθούν(συμπεριλαμβανομένης της απαιτούμενης άδειας)<br>
3. Κοινή χρήση τεκμηρίωσης<br>
4. Παροχή γνώσεων (άμεση υποστήριξη Q & A)</td></tr>
   {% endifequal %}
   {% ifequal '0.225' d1maturity|floatformat:'3' %}
   <tr><td>Δ1</td><td>Ερ: Παρακαλώ να παρέχετε πληροφορίες εάν και πώς η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και τις γνώσεις με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις);<br>
▪ Ανταλλαγή τεκμηρίωσης για την παροχή σε άλλους σχετιζόμενους οργανισμούς πολύτιμων πληροφοριών αναφορικά με τις διαδικασίες, την οργάνωση, τη διακυβέρνηση, τις επιλογές τεχνολογίας κλπ.<br>
▪ Κοινή χρήση πηγαίου κώδικα ή λογισμικό με δυνατότητα λήψης για να δοθεί η δυνατότητα σε άλλους οργανισμούς να οικοδομήσουν αποτελεσματικά τις υπηρεσίες τους.<br>
▪ Διαθεσιμότητα ανοικτών υπηρεσιών Web-API για να δοθεί η δυνατότητα σε άλλους οργανισμούς και ιδιώτες να επαναχρησιμοποιήσουν τη λειτουργικότητα ή να αποκτήσουν πρόσβαση σε δεδομένα μέσω διαδικτύου ή εφαρμογών για κινητά.<br>
▪ Παροχή υποστήριξης σε οργανισμούς που αξιοποιούν τους πόρους που παρέχονται.<br> Απ: Δύο από τις παραπάνω επιλογές.</td><td>Βασικό</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν μοιράζεται κανένα ή μόνο μερικά στοιχεία και γνώσεις με το εξωτερικό περιβάλλον. Εργαστείτε για την επαναχρησιμοποίηση και την κοινή χρήση σε τέσσερις τομείς:<br>
1. Παροχή ανοικτών υπηρεσιών Web API<br>
2. Ανταλλαγή πηγαίου κώδικα ή / και στοιχεία που μπορούν να μεταφορτωθούν(συμπεριλαμβανομένης της απαιτούμενης άδειας)<br>
3. Κοινή χρήση τεκμηρίωσης<br>
4. Παροχή γνώσεων (άμεση υποστήριξη Q & A)</td></tr>
   {% endifequal %}
   {% ifequal '0.300' d1maturity|floatformat:'3' %}
   <tr><td>Δ1</td><td>Ερ: Παρακαλώ να παρέχετε πληροφορίες εάν και πώς η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και τις γνώσεις με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις);<br>
▪ Ανταλλαγή τεκμηρίωσης για την παροχή σε άλλους σχετιζόμενους οργανισμούς πολύτιμων πληροφοριών αναφορικά με τις διαδικασίες, την οργάνωση, τη διακυβέρνηση, τις επιλογές τεχνολογίας κλπ.<br>
▪ Κοινή χρήση πηγαίου κώδικα ή λογισμικό με δυνατότητα λήψης για να δοθεί η δυνατότητα σε άλλους οργανισμούς να οικοδομήσουν αποτελεσματικά τις υπηρεσίες τους.<br>
▪ Διαθεσιμότητα ανοικτών υπηρεσιών Web-API για να δοθεί η δυνατότητα σε άλλους οργανισμούς και ιδιώτες να επαναχρησιμοποιήσουν τη λειτουργικότητα ή να αποκτήσουν πρόσβαση σε δεδομένα μέσω διαδικτύου ή εφαρμογών για κινητά.<br>
▪ Παροχή υποστήριξης σε οργανισμούς που αξιοποιούν τους πόρους που παρέχονται.<br> Απ: Τρεις από τις παραπάνω επιλογές.</td><td>Βιώσιμο</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν μοιράζεται κανένα ή μόνο μερικά στοιχεία και γνώσεις με το εξωτερικό περιβάλλον. Εργαστείτε για την επαναχρησιμοποίηση και την κοινή χρήση σε τέσσερις τομείς:<br>
1. Παροχή ανοικτών υπηρεσιών Web API<br>
2. Ανταλλαγή πηγαίου κώδικα ή / και στοιχεία που μπορούν να μεταφορτωθούν(συμπεριλαμβανομένης της απαιτούμενης άδειας)<br>
3. Κοινή χρήση τεκμηρίωσης<br>
4. Παροχή γνώσεων (άμεση υποστήριξη Q & A)</td></tr>
   {% endifequal %}
  {% ifequal '0.375' d1maturity|floatformat:'3' %}
   <tr><td>Δ1</td><td>Ερ: Παρακαλώ να παρέχετε πληροφορίες εάν και πώς η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και τις γνώσεις με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις);<br>
▪ Ανταλλαγή τεκμηρίωσης για την παροχή σε άλλους σχετιζόμενους οργανισμούς πολύτιμων πληροφοριών αναφορικά με τις διαδικασίες, την οργάνωση, τη διακυβέρνηση, τις επιλογές τεχνολογίας κλπ.<br>
▪ Κοινή χρήση πηγαίου κώδικα ή λογισμικό με δυνατότητα λήψης για να δοθεί η δυνατότητα σε άλλους οργανισμούς να οικοδομήσουν αποτελεσματικά τις υπηρεσίες τους.<br>
▪ Διαθεσιμότητα ανοικτών υπηρεσιών Web-API για να δοθεί η δυνατότητα σε άλλους οργανισμούς και ιδιώτες να επαναχρησιμοποιήσουν τη λειτουργικότητα ή να αποκτήσουν πρόσβαση σε δεδομένα μέσω διαδικτύου ή εφαρμογών για κινητά.<br>
▪ Παροχή υποστήριξης σε οργανισμούς που αξιοποιούν τους πόρους που παρέχονται.<br> Απ: Τέσσερις από τις παραπάνω επιλογές.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}
   
  {% ifequal '0.030' d2maturity|floatformat:'3' %}
   <tr><td>Δ2</td><td>Ερ: Έχουν τα εξαρτήματα της ψηφιακής δημόσιας υπηρεσίας αγοραστεί βάσει προτύπων που είναι προσβάσιμα σε όλους τους προμηθευτές ΤΠΕ;<br> Απ: Δεν υπάρχουν πρότυπα στις προμήθειες.</td><td>Επί τούτω</td><td>Αυτή τη στιγμή, η δημόσια υπηρεσία σας δεν χρησιμοποιεί ένα σύνολο καθορισμένων κριτηρίων προμηθειών για να κατευθύνει την επαναχρησιμοποίηση και τη διαλειτουργικότητα. Η θεσμοθέτηση μιας δέσμης κριτηρίων ή αρχών θα ωφελήσει την υπηρεσία και τη διοίκηση, διότι μπορεί να προληφθεί η ύπαρξη κοινών παγίδων (π.χ. ιδιοκτησιακή ανάπτυξη ενώ οι υπηρεσίες είναι διαθέσιμες για επαναχρησιμοποίηση).</td></tr>
   {% endifequal %}
    {% ifequal '0.090' d2maturity|floatformat:'3' %}
   <tr><td>Δ2</td><td>Ερ: Έχουν τα εξαρτήματα της ψηφιακής δημόσιας υπηρεσίας αγοραστεί βάσει προτύπων που είναι προσβάσιμα σε όλους τους προμηθευτές ΤΠΕ;<br> Απ: Μερικές προμήθειες που βασίζονται σε πρότυπα.</td><td>Βασικό</td><td>Παρόλο που υπάρχει ένα σύνολο καθορισμένων κριτηρίων προμηθειών, δεν έχουν παρασχεθεί όλα τα συστατικά σύμφωνα με τα πρότυπα. Επικεντρωθείτε στην αυστηρή επιβολή της νομοθεσίας προκειμένου να διασφαλίσετε ότι τα κριτήρια των δημόσιων συμβάσεων αποτελούν αποτελεσματικό μηχανισμό καθοδήγησης για την προώθηση μεγαλύτερης διαλειτουργικότητας.</td></tr>
   {% endifequal %}
  {% ifequal '0.150' d2maturity|floatformat:'3' %}
   <tr><td>Δ2</td><td>Ερ: Έχουν τα εξαρτήματα της ψηφιακής δημόσιας υπηρεσίας αγοραστεί βάσει προτύπων που είναι προσβάσιμα σε όλους τους προμηθευτές ΤΠΕ;<br> Απ: Πλήρης προμήθεια βάσει προτύπων.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.030' d3maturity|floatformat:'3' %}
   <tr><td>Δ3</td><td>Ερ:Σε ποιο βαθμό είναι αυτοματοποιημένη η χορογραφία των υπηρεσιών που καταναλώνονται ή παρέχονται;<br> Απ: Χειρόγραφη χορογραφία.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν διαθέτει αυτοματοποιημένη χορογραφία υπηρεσιών. Αυτό σημαίνει ότι όλος ο συντονισμός με τις εξωτερικές υπηρεσίες εξαρτάται σε μεγάλο βαθμό από τις μη αυτόματες ενέργειες, οι οποίες ενδεχομένως συνεπάγονται ζητήματα ποιότητας. Προσδιορίστε την επιχειρησιακή περίπτωση για τη βελτίωση της αυτόματης χορογραφίας υπηρεσιών από την άποψη της απόδοσης, της ποιότητας, της απόκρισης και της ασφάλειας. Ξεκινήστε με την αυτοματοποίηση της χορογραφίας για υπηρεσίες που έχουν τον μεγαλύτερο αντίκτυπο στη λειτουργία της ψηφιακής δημόσιας υπηρεσίας.</td></tr>
   {% endifequal %}
    {% ifequal '0.090' d3maturity|floatformat:'3' %}
   <tr><td>Δ3</td><td>Ερ:Σε ποιο βαθμό είναι αυτοματοποιημένη η χορογραφία των υπηρεσιών που καταναλώνονται ή παρέχονται;<br> Απ: Ημιαυτόματη χορογραφία.</td><td>Βασικό</td><td>Επί του παρόντος, η χορογραφία υπηρεσιών των ψηφιακών δημόσιων υπηρεσιών σας είναι ημιαυτόματη και απαιτεί ακόμη χειροκίνητες παρεμβολές. Αυτό σημαίνει χειρωνακτική προσπάθεια και πιθανά προβλήματα ποιότητας. Καθορίστε την επιχειρησιακή περίπτωση για τη βελτίωση της αυτοματοποίησης της χορογραφίας των υπηρεσιών από την άποψη της αποδοτικότητας, της ποιότητας, της απόκρισης και της ασφάλειας. Προχωρήστε με την αυτοματοποίηση της χορογραφίας για υπηρεσίες που έχουν τον μεγαλύτερο αντίκτυπο στη λειτουργία της ψηφιακής δημόσιας υπηρεσίας.</td></tr>
   {% endifequal %}
  {% ifequal '0.150' d3maturity|floatformat:'3' %}
   <tr><td>Δ3</td><td>Ερ:Σε ποιο βαθμό είναι αυτοματοποιημένη η χορογραφία των υπηρεσιών που καταναλώνονται ή παρέχονται;<br> Απ: Πλήρως αυτοματοποιημένη χορογραφία.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

  {% ifequal '0.030' d4maturity|floatformat:'3' %}
   <tr><td>Δ4</td><td>Ερ: Σε ποιο βαθμό έχουν προτυποποιηθεί οι επιχειρηματικές διαδικασίες της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Χωρίς BPM.</td><td>Επί τούτω</td><td>Σε αυτό το στάδιο, δεν έχετε ορισμένους συνεπείς ορισμούς επιχειρηματικών διαδικασιών και κανόνες. Αυτό σημαίνει ότι στις καθημερινές σας εργασίες, η συνεργασία σας με άλλες υπηρεσίες διέπεται επί τούτω, επιβαρύνοντας τη δική σας οργάνωση και άλλες υπηρεσίες. Εξετάστε το ενδεχόμενο δημιουργίας ενός πιο εύχρηστου και συνεπούς πλαισίου για την καθιέρωση επιχειρηματικών διαδικασιών, ιδίως όταν οι αλληλεξαρτήσεις μεταξύ των οργανισμών είναι σημαντικές.</td></tr>
   {% endifequal %}
    {% ifequal '0.090' d4maturity|floatformat:'3' %}
   <tr><td>Δ4</td><td>Ερ: Σε ποιο βαθμό έχουν προτυποποιηθεί οι επιχειρηματικές διαδικασίες της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Κατά περίπτωση BPM.</td><td>Βασικό</td><td>Οι επιχειρηματικές διαδικασίες και κανόνες βελτιώνονται ολοένα και περισσότερο, αλλά δεν πληρούν ακόμη τα πρότυπα για τη μοντελοποίηση επιχειρηματικών διαδικασιών. Προσδιορίστε ποια πρότυπα στον τομέα σας είναι συναφή για την εφαρμογή και αξιοποίηση των βέλτιστων πρακτικών και των διδαγμάτων.</td></tr>
   {% endifequal %}
   {% ifequal '0.120' d4maturity|floatformat:'3' %}
   <tr><td>Δ4</td><td>Ερ: Σε ποιο βαθμό έχουν προτυποποιηθεί οι επιχειρηματικές διαδικασίες της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Βάσει προτύπων BPM.</td><td>Βιώσιμο</td><td>Οι διαδικασίες διαμορφώνονται σύμφωνα με τα πρότυπα επιχειρηματικών διεργασιών, αλλά η όλη διαδικασία συνεχίζεται σε σιλό. Η αξιοποίηση των στοιχείων των συνεργατών (των καταναλωμένων και / ή κοινών υπηρεσιών) μπορεί να σας ωφελήσει ουσιαστικά στην προσπάθεια για μια μελλοντική απόδειξη της διαλειτουργικής ροής διαδικασιών στον τομέα σας.</td></tr>
   {% endifequal %}
  {% ifequal '0.150' d4maturity|floatformat:'3' %}
   <tr><td>Δ4</td><td>Ερ: Σε ποιο βαθμό έχουν προτυποποιηθεί οι επιχειρηματικές διαδικασίες της ψηφιακής δημόσιας υπηρεσίας;<br> Απ: Βάσει προτύπων και συνεργατικό BPM.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.030' d5maturity|floatformat:'3' %}
   <tr><td>Δ5</td><td>Ερ: Έχει ληφθεί υπόψη ένα πλαίσιο αρχιτεκτονικής στο σχεδιασμό τη ψηφιακής δημόσιας υπηρεσίας (ευρωπαϊκό, εθνικό ή διεθνές ανοιχτό πρότυπο);<br> Απ: Δεν υπάρχει αρχιτεκτονικό πλαίσιο.</td><td>Επί τούτω</td><td>Εξετάστε τη μόχλευση των υπαρχόντων πλαισίων στον τομέα σας για το σχεδιασμό της ψηφιακής δημόσιας υπηρεσίας σας και ενσωματώστε τις αρχές τους στην αρχιτεκτονική του κράτους-στόχου για να εξασφαλίσετε σωστή καθοδήγηση και καθοδήγηση. Εξετάστε την εφαρμογή βέλτιστων πρακτικών στον τομέα της αρχιτεκτονικής ευελιξίας, όπως η ευρωπαϊκή αρχιτεκτονική αναφοράς διαλειτουργικότητας και οι λύσεις που βασίζονται σε υπηρεσίες web, για να βελτιστοποιήσετε περαιτέρω την αρχιτεκτονική σας.
Βιβλιογραφικές αναφορές:
Ευρωπαϊκή αρχιτεκτονική αναφοράς διαλειτουργικότητας: https://joinup.ec.europa.eu/asset/eia/home
TOGAF
Http://pubs.opengroup.org/architecture/togaf9-doc/arch/
NORΑ:
Http://www.noraonline.nl/wiki/Hoofdpagina</td></tr>
   {% endifequal %}
   {% ifequal '0.150' d5maturity|floatformat:'3' %}
   <tr><td>Δ5</td><td>Ερ: Έχει ληφθεί υπόψη ένα πλαίσιο αρχιτεκτονικής στο σχεδιασμό τη ψηφιακής δημόσιας υπηρεσίας (ευρωπαϊκό, εθνικό ή διεθνές ανοιχτό πρότυπο);<br> Απ: Αρχιτεκτονικό πλαίσιο.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

  {% ifequal '0.045' d6maturity|floatformat:'3' %}
   <tr><td>Δ6</td><td>Ερ: Έχει η ψηφιακή δημόσια υπηρεσία καθιερώσει μια ανοιχτή διαδικασία εξειδίκευσης στην οποία μπορούν να συμμετέχουν δημόσιες διοικήσεις, πολίτες και επιχειρήσεις;<br> Απ: Διαδικασία κλειστών προδιαγραφών.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν παρέχει την ευκαιρία σε άλλους εξωτερικούς οργανισμούς να συμμετάσχουν στη διαδικασία των προδιαγραφών. Το άνοιγμα της διαδικασίας προδιαγραφής θα έχει μια σειρά πλεονεκτημάτων: εναρμόνιση εκ των προτέρων όσον αφορά τη διαλειτουργικότητα με άλλες υπηρεσίες, τη μάθηση και την ανταλλαγή ορθών πρακτικών με άλλους οργανισμούς, τον εντοπισμό πρόσθετων ευκαιριών για περαιτέρω προώθηση της διαλειτουργικότητας κ.λπ. Συνεπώς, εξετάστε το ενδεχόμενο να ανοίξετε τη διαδικασία των προδιαγραφών.</td></tr>
   {% endifequal %}
    {% ifequal '0.135' d6maturity|floatformat:'3' %}
   <tr><td>Δ6</td><td>Ερ: Έχει η ψηφιακή δημόσια υπηρεσία καθιερώσει μια ανοιχτή διαδικασία εξειδίκευσης στην οποία μπορούν να συμμετέχουν δημόσιες διοικήσεις, πολίτες και επιχειρήσεις;<br> Απ: Τα ενδιαφερόμενα μέρη έχουν κληθεί μία φορά.</td><td>Βασικό</td><td>Στο πλαίσιο της διαδικασίας εξειδίκευσης, οι ενδιαφερόμενοι κλήθηκαν μία φορά να εκφράσουν τις ανησυχίες τους. Ωστόσο, δεν υπάρχει περιοδική διαδικασία, στην οποία οι ενδιαφερόμενοι καλούνται πιο τακτικά να διασφαλίζουν ότι η συνεχής ανάπτυξη της ψηφιακής δημόσιας υπηρεσίας καλύπτει επίσης τις (μελλοντικές) ανάγκες τους. Προσδιορίστε μια κατάλληλη συχνότητα αλληλεπίδρασης με τους ενδιαφερόμενους με βάση την ταχύτητα ανάπτυξης της ψηφιακής σας δημόσιας υπηρεσίας.</td></tr>
   {% endifequal %}
   {% ifequal '0.180' d6maturity|floatformat:'3' %}
   <tr><td>Δ6</td><td>Ερ: Έχει η ψηφιακή δημόσια υπηρεσία καθιερώσει μια ανοιχτή διαδικασία εξειδίκευσης στην οποία μπορούν να συμμετέχουν δημόσιες διοικήσεις, πολίτες και επιχειρήσεις;<br> Απ: Τα ενδιαφερόμενα μέρη καλούνται περιοδικά (συχνά).</td><td>Βιώσιμο</td><td>Η διαδικασία εξειδίκευσης της δημόσιας υπηρεσίας σας είναι "μόνο με πρόσκληση". Αυτό είναι επιλεκτικό και κινδυνεύετε να αποκλείσετε οργανισμούς που θα μπορούσαν να είναι πρόθυμοι να συμμετάσχουν. Θα πρέπει να εξετάσετε το ενδεχόμενο να ανοίξετε τη διαδικασία προδιαγραφών σε ένα ευρύτερο κοινό. Για να γίνει αυτό, αξιολογείστε προσεκτικά τα οφέλη από αυτό (δημιουργώντας ένα περιβάλλον συνεχούς ανταλλαγής γνώσεων, διασφαλίζοντας την ευρύτερη δυνατή διαλειτουργικότητα) από τυχόν μειονεκτήματα (όπως η αύξηση της πολυπλοκότητας της διαδικασίας καθορισμού προδιαγραφών). Σκεφτείτε καινοτόμα συνεργατικά εργαλεία (Web 2.0) για να επιτρέψετε τουλάχιστον εν μέρει τη διαδικασία επεξεργασίας.</td></tr>
   {% endifequal %}
  {% ifequal '0.225' d6maturity|floatformat:'3' %}
   <tr><td>Δ6</td><td>Ερ: Έχει η ψηφιακή δημόσια υπηρεσία καθιερώσει μια ανοιχτή διαδικασία εξειδίκευσης στην οποία μπορούν να συμμετέχουν δημόσιες διοικήσεις, πολίτες και επιχειρήσεις;<br> Απ: Ανοικτή διαδικασία προδιαγραφών.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

  {% ifequal '0.030' d7maturity|floatformat:'3' %}
   <tr><td>Δ7</td><td>Ερ: Σε ποιο βαθμό χρησιμοποιούνται οι συνήθεις, τυποποιημένοι ορισμοί εννοιών και τα ελεγχόμενα λεξιλόγια (π.χ. λίστες κωδικών, θησαυροί);<br> Απ: Ιδιόκτητοι ορισμοί.</td><td>Επί τούτω</td><td>Αυτή τη στιγμή, η ψηφιακή δημόσια υπηρεσία χρησιμοποιεί ορισμούς αποκλειστικής χρήσης. Η χρήση κοινών εννοιών και ορισμών εξασφαλίζει την ευθυγράμμιση μεταξύ των οργανισμών. Εξετάστε την αξιοποίηση κοινών / τυποποιημένων ορισμών και ελεγχόμενων λεξιλογίων (π.χ. λίστες κωδικών, θησαυροί).</td></tr>
   {% endifequal %}
  {% ifequal '0.150' d7maturity|floatformat:'3' %}
   <tr><td>Δ7</td><td>Ερ: Σε ποιο βαθμό χρησιμοποιούνται οι συνήθεις, τυποποιημένοι ορισμοί εννοιών και τα ελεγχόμενα λεξιλόγια (π.χ. λίστες κωδικών, θησαυροί);<br> Απ: Κοινές (ανοικτές) έννοιες και ορισμοί.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.030' d8maturity|floatformat:'3' %}
   <tr><td>Δ8</td><td>Ερ: Υπόκειται η ψηφιακή δημόσια υπηρεσία σε συμφωνίες για το επίπεδο των υπηρεσιών που παρέχονται;<br> Απ: Δεν υπάρχουν SLA.</td><td>Επί τούτω</td><td>Επί του παρόντος, η ψηφιακή δημόσια υπηρεσία δεν χρησιμοποιεί Συμφωνίες Επιπέδου Υπηρεσίας (SLA) για να κάνει την αναμενόμενη απόδοση των υπηρεσιών διαφανή και προβλέψιμη για τους χρήστες. Η εξασφάλιση SLA και η θεσμοθέτηση μιας διαδικασίας διαχείρισης επιπέδου υπηρεσιών θεωρείται μια καλή πρακτική και βοηθά τον οργανισμό να κατευθύνει τη σταθερότητα και το αποτέλεσμα της υπηρεσίας. Αξιοποιήστε υπάρχοντα πλαίσια όπως το ITIL v3 για την εφαρμογή αυτής της διαδικασίας.</td></tr>
   {% endifequal %}
   {% ifequal '0.090' d8maturity|floatformat:'3' %}
   <tr><td>Δ8</td><td>Ερ: Υπόκειται η ψηφιακή δημόσια υπηρεσία σε συμφωνίες για το επίπεδο των υπηρεσιών που παρέχονται;<br> Απ: SLA χωρίς παρακολούθηση.</td><td>Βιώσιμο</td><td>Ως μέρος της διαδικασίας διαχείρισης επιπέδων υπηρεσιών, οι οργανισμοί ορθής πρακτικής παρακολουθούν τη συμμόρφωση μηνιαίως και παρέχουν αναφορές στους χρήστες τους για να υποδείξουν συμμόρφωση ή να παρέχουν μια επισκόπηση των διορθωτικών ενεργειών που έχουν ληφθεί για την αποκατάσταση της υπηρεσίας.</td></tr>
   {% endifequal %}  
  {% ifequal '0.150' d8maturity|floatformat:'3' %}
   <tr><td>Δ8</td><td>Ερ: Υπόκειται η ψηφιακή δημόσια υπηρεσία σε συμφωνίες για το επίπεδο των υπηρεσιών που παρέχονται;<br> Απ: Παρακολούθηση SLAs και διορθωτικές ενέργειες.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}   

   </table>
 <p><a href="{% url 'questionnaire:maturity' %}"><u>Επιστροφή</u></a></p>
 </div>
{% endblock %}
