{% extends "base.html" %}
{% load questionnaire_tags %}
{% load staticfiles %}
{% load mathfilters %}
 
{% block title %}
 Συστάσεις ενότητας Γ
{% endblock %}

{% block content %}			
 
 <div class="module">
  <p><img src="{% static 'images/serviceconsumption.png' %}" style="vertical-align:middle;float:center;height:50px; clear:left;"><u>Συστάσεις για την ενότητα Γ - Καταναλώμενες Υπηρεσίες</u></p>
  <table class="table2">
   <tr><th width=15px></th><th width=360px>Ερώτηση</th><th width=80px>Επίπεδο</th><th width=800px>Σύσταση</th><tr>

   {% ifequal '0.080' c2maturity|floatformat:'3' %}
   <tr><td>Γ2</td><td>Ερ: Πώς καταναλώνει σήμερα η ψηφιακή δημόσια υπηρεσία τις υπηρεσίες (χειροκίνητα ή ψηφιακά); <br>Απ: Πλήρως χειροκίνητα.</td><td>Επί τούτω</td><td>Αυτήν τη στιγμή καταναλώνετε όλες, τις περισσότερες ή μερικές από τις υπηρεσίες με μη αυτόματο τρόπο. Θα μπορούσατε να βελτιώσετε τη διαλειτουργικότητά σας με τη «ψηφιοποίηση» της κατανάλωσης περαιτέρω. Αυτό θα δημιουργήσει οφέλη στους τομείς της ποιότητας των δεδομένων, του χρόνου διεκπεραίωσης, του κόστους και της διαλειτουργικότητας. Η πλήρης ψηφιακή κατανάλωση υπηρεσιών επιτρέπει επίσης την απευθείας επεξεργασία και την επεξεργασία σε πραγματικό χρόνο. Προσπαθήστε να βρείτε τρόπους για να αλληλεπιδράσετε πιο ψηφιακά με συναφείς οργανισμούς και να ορίσετε επιχειρηματικές περιπτώσεις για να κατανοήσετε την προστιθέμενη αξία της ψηφιοποίησης σε σύγκριση με τις χειρωνακτικές αλληλεπιδράσεις.</td></tr>
   {% endifequal %}
   {% ifequal '0.160' c2maturity|floatformat:'3' %}
  <tr><td>Γ2</td><td>Ερ: Πώς καταναλώνει σήμερα η ψηφιακή δημόσια υπηρεσία τις υπηρεσίες (χειροκίνητα ή ψηφιακά); <br>Απ: Κυρίως χειροκίνητα, εν μέρει ψηφιακά.</td><td>Ευκαιριακό</td><td>Αυτήν τη στιγμή καταναλώνετε όλες, τις περισσότερες ή μερικές από τις υπηρεσίες με μη αυτόματο τρόπο. Θα μπορούσατε να βελτιώσετε τη διαλειτουργικότητά σας με τη «ψηφιοποίηση» της κατανάλωσης περαιτέρω. Αυτό θα δημιουργήσει οφέλη στους τομείς της ποιότητας των δεδομένων, του χρόνου διεκπεραίωσης, του κόστους και της διαλειτουργικότητας. Η πλήρης ψηφιακή κατανάλωση υπηρεσιών επιτρέπει επίσης την απευθείας επεξεργασία και την επεξεργασία σε πραγματικό χρόνο. Προσπαθήστε να βρείτε τρόπους για να αλληλεπιδράσετε πιο ψηφιακά με συναφείς οργανισμούς και να ορίσετε επιχειρηματικές περιπτώσεις για να κατανοήσετε την προστιθέμενη αξία της ψηφιοποίησης σε σύγκριση με τις χειρωνακτικές αλληλεπιδράσεις.</td></tr>
   {% endifequal %}
   {% ifequal '0.240' c2maturity|floatformat:'3' %}
  <tr><td>Γ2</td><td>Ερ: Πώς καταναλώνει σήμερα η ψηφιακή δημόσια υπηρεσία τις υπηρεσίες (χειροκίνητα ή ψηφιακά);<br> Απ: Συνδυασμός χειρωνακτικής και ψηφιακής κατανάλωσης.</td><td>Βασικό</td><td>Αυτήν τη στιγμή καταναλώνετε όλες, τις περισσότερες ή μερικές από τις υπηρεσίες με μη αυτόματο τρόπο. Θα μπορούσατε να βελτιώσετε τη διαλειτουργικότητά σας με τη «ψηφιοποίηση» της κατανάλωσης περαιτέρω. Αυτό θα δημιουργήσει οφέλη στους τομείς της ποιότητας των δεδομένων, του χρόνου διεκπεραίωσης, του κόστους και της διαλειτουργικότητας. Η πλήρης ψηφιακή κατανάλωση υπηρεσιών επιτρέπει επίσης την απευθείας επεξεργασία και την επεξεργασία σε πραγματικό χρόνο. Προσπαθήστε να βρείτε τρόπους για να αλληλεπιδράσετε πιο ψηφιακά με συναφείς οργανισμούς και να ορίσετε επιχειρηματικές περιπτώσεις για να κατανοήσετε την προστιθέμενη αξία της ψηφιοποίησης σε σύγκριση με τις χειρωνακτικές αλληλεπιδράσεις..</td></tr>
   {% endifequal %}
  {% ifequal '0.320' c2maturity|floatformat:'3' %}
  <tr><td>Γ2</td><td>Ερ: Πώς καταναλώνει σήμερα η ψηφιακή δημόσια υπηρεσία τις υπηρεσίες (χειροκίνητα ή ψηφιακά);<br> Απ: Κυρίως ψηφιακά, μερικά χειροκίνητα.</td><td>Βιώσιμο</td><td>Αυτήν τη στιγμή καταναλώνετε όλες, τις περισσότερες ή μερικές από τις υπηρεσίες με μη αυτόματο τρόπο. Θα μπορούσατε να βελτιώσετε τη διαλειτουργικότητά σας με τη «ψηφιοποίηση» της κατανάλωσης περαιτέρω. Αυτό θα δημιουργήσει οφέλη στους τομείς της ποιότητας των δεδομένων, του χρόνου διεκπεραίωσης, του κόστους και της διαλειτουργικότητας. Η πλήρης ψηφιακή κατανάλωση υπηρεσιών επιτρέπει επίσης την απευθείας επεξεργασία και την επεξεργασία σε πραγματικό χρόνο. Προσπαθήστε να βρείτε τρόπους για να αλληλεπιδράσετε πιο ψηφιακά με συναφείς οργανισμούς και να ορίσετε επιχειρηματικές περιπτώσεις για να κατανοήσετε την προστιθέμενη αξία της ψηφιοποίησης σε σύγκριση με τις χειρωνακτικές αλληλεπιδράσεις.</td></tr>
   {% endifequal %}
  {% ifequal '0.400' c2maturity|floatformat:'3' %}
  <tr><td>Γ2</td><td>Ερ: Πώς καταναλώνει σήμερα η ψηφιακή δημόσια υπηρεσία τις υπηρεσίες (χειροκίνητα ή ψηφιακά);<br> Απ: Πλήρως ψηφιακά.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   {% ifequal '0.060' c3maturity|floatformat:'3' %}
   <tr><td>Γ3</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία επαναχρησιμοποιεί ή παράγει η ίδια τις υπηρεσίες που καταναλώνει; <br>Απ: Οι περισσότερες καταναλωμένες υπηρεσίες είναι διαθέσιμες για επαναχρησιμοποίηση.</td><td>Επί τούτω</td><td>Επί του παρόντος δεν καταναλώνετε όλες τις σχετικές υπηρεσίες από άλλες δημόσιες διοικήσεις ενώ είναι διαθέσιμες για επαναχρησιμοποίηση. Αυτό δείχνει ότι δεν χρησιμοποιείτε υπάρχουσες υπηρεσίες για να αυξήσετε την αποτελεσματικότητα και την αποτελεσματικότητα της δικής σας ψηφιακής δημόσιας υπηρεσίας. Επεξεργαστείτε γιατί συμβαίνει αυτό. Πριν από την παραγωγή των δικών σας υπηρεσιών, αφιερώστε πάντα χρόνο για να χαρτογραφήσετε τις υπάρχουσες υπηρεσίες και να τις προσαρμόσετε ενδεχομένως για τους δικούς σας σκοπούς. Κατανοήστε πώς μπορείτε να βελτιώσετε την άποψή σας σχετικά με τις υπηρεσίες που παρέχονται από άλλους οργανισμούς.</td></tr>
   {% endifequal %}
   {% ifequal '0.180' c3maturity|floatformat:'3' %}
  <tr><td>Γ3</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία επαναχρησιμοποιεί ή παράγει η ίδια τις υπηρεσίες που καταναλώνει; <br>Απ: Μια επιλογή των καταναλωμένων υπηρεσιών επαναχρησιμοποιούνται.</td><td>Βασικό</td><td>Επί του παρόντος δεν καταναλώνετε όλες τις σχετικές υπηρεσίες από άλλες δημόσιες διοικήσεις ενώ είναι διαθέσιμες για επαναχρησιμοποίηση. Αυτό δείχνει ότι δεν χρησιμοποιείτε υπάρχουσες υπηρεσίες για να αυξήσετε την αποτελεσματικότητα και την αποτελεσματικότητα της δικής σας ψηφιακής δημόσιας υπηρεσίας. Επεξεργαστείτε γιατί συμβαίνει αυτό. Πριν από την παραγωγή των δικών σας υπηρεσιών, αφιερώστε πάντα χρόνο για να χαρτογραφήσετε τις υπάρχουσες υπηρεσίες και να τις προσαρμόσετε ενδεχομένως για δικούς σας σκοπούς. Κατανοήστε πώς μπορείτε να βελτιώσετε την άποψή σας σχετικά με τις υπηρεσίες που παρέχονται από άλλους οργανισμούς.</td></tr>
   {% endifequal %}
  {% ifequal '0.300' c3maturity|floatformat:'3' %}
  <tr><td>Γ3</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία επαναχρησιμοποιεί ή παράγει η ίδια τις υπηρεσίες που καταναλώνει; <br>Απ: Οι περισσότερες καταναλωμένες υπηρεσίες επαναχρησιμοποιούνται.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}


   {% ifequal '0.060' c4maturity|floatformat:'3' %}
   <tr><td>Γ4</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία χρησιμοποιεί αυτόματες ενημερώσεις υπηρεσιών (π.χ. συμβάντα ζωής) για να εκτελεστεί και να προβεί σε ενημερώσεις; <br>Απ: Όχι, οι ενημερώσεις απαιτούν χειροκίνητη παρέμβαση από το δημόσιο προσωπικό ή από τους τελικούς χρήστες.</td><td>Επί τούτω</td><td>Αυτή τη στιγμή, όλες οι ενημερώσεις που προέρχονται από άλλες υπηρεσίες απαιτούν χειροκίνητη παρέμβαση. Αυτό σημαίνει χειρωνακτική προσπάθεια και πιθανά προβλήματα ποιότητας. Προσδιορίστε την επιχειρησιακή δυνατότητα για τη βελτίωση της αυτόματης επεξεργασίας των ενημερώσεων όσον αφορά την αποδοτικότητα, την ποιότητα, την ανταπόκριση και την ασφάλεια. Ξεκινήστε από τα γεγονότα ζωής που έχουν τον μεγαλύτερο αντίκτυπο στη λειτουργία της ψηφιακής δημόσιας υπηρεσίας.</td></tr>
   {% endifequal %}
   {% ifequal '0.180' c4maturity|floatformat:'3' %}
  <tr><td>Γ4</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία χρησιμοποιεί αυτόματες ενημερώσεις υπηρεσιών (π.χ. συμβάντα ζωής) για να εκτελεστεί και να προβεί σε ενημερώσεις; <br>Απ: Εν μέρει, ορισμένες ενημερώσεις απαιτούν χειροκίνητη παρέμβαση από το δημόσιο προσωπικό ή τους τελικούς χρήστες, ενώ άλλες λαμβάνονται αυτόματα.</td><td>Βασικό</td><td>Επί του παρόντος, η ψηφιακή σας δημόσια υπηρεσία εξακολουθεί να βασίζεται σε κάποια χειροκίνητη παρέμβαση όταν λαμβάνει ενημερώσεις. Αυτό σημαίνει χειρωνακτική προσπάθεια και πιθανά προβλήματα ποιότητας. Προσδιορίστε την επιχειρησιακή δυνατότητα για τη βελτίωση της αυτόματης επεξεργασίας των ενημερώσεων όσον αφορά την αποδοτικότητα, την ποιότητα, την ανταπόκριση και την ασφάλεια. Προχωρήστε με τα γεγονότα ζωής που έχουν τον μεγαλύτερο αντίκτυπο στη λειτουργία της ψηφιακής δημόσιας υπηρεσίας.</td></tr>
   {% endifequal %}
  {% ifequal '0.300' c4maturity|floatformat:'3' %}
  <tr><td>Γ4</td><td>Ερ: Η ψηφιακή δημόσια υπηρεσία χρησιμοποιεί αυτόματες ενημερώσεις υπηρεσιών (π.χ. συμβάντα ζωής) για να εκτελεστεί και να προβεί σε ενημερώσεις; <br>Απ: Πλήρως, όλες οι σχετικές ενημερώσεις λαμβάνονται αυτόματα./ Δεν εφαρμόζεται.</td><td>Αδιάλειπτο</td><td></td></tr>
   {% endifequal %}

   </table>
   <p><a href="{% url 'questionnaire:maturity' %}"><u>Επιστροφή</u></a></p>
 </div>
{% endblock %}
