{% extends "base.html" %}
 
{% block title %}
 Κατανάλωση Υπηρεσιών
{% endblock %}

{% block content %}
  <h1>Ενότητα Δ: Διαχείριση Υπηρεσιών</h1>
<div class="module">
    <p>Ερώτηση 1: Παρακαλώ να παρέχετε πληροφορίες  σχετικά με το εάν και με ποιο τρόπο η ψηφιακή δημόσια υπηρεσία μοιράζεται τους πόρους και την γνώση με το εξωτερικό περιβάλλον (επιτρέπονται περισσότερες από μια απαντήσεις); </p>
   <ul>
          <form action="" method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
   </ul>				
  </div>
{% endblock %}
