{% extends "base.html" %}
 
{% block title %}
 Κατανάλωση Υπηρεσιών
{% endblock %}

{% block content %}
  <h1>Ενότητα Γ: Καταναλώμενες Υπηρεσίες</h1>
<div class="module1">
    <h3><b>Ερώτηση 1: Επιλέξτε τις υπηρεσίες που πρέπει να καταναλώσει η ψηφιακή δημόσια υπηρεσία σας για να λειτουργήσει. Καταχωρίστε τις υπηρεσίες που καταναλώνονται εντός της διοίκησης ή από τρίτους, τόσο χειροκίνητα όσο και ψηφιακά(Επιτρέπονται περισσότερες από μια απαντήσεις): </b></h3> 
          <form action="" method="POST" class="form">{{form.as_p}}
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
   				
  </div>
{% endblock %}
