{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module">
  Πρόοδος 11%<table class="table1" border=1px align=left width=600px height=25px>
    <td bgcolor=#40ff0  style="width: 11%"></td>
    <td  style="width: 89%"></td></table>
    <h3><b>Ερώτηση 3 από 28:<br><br>Α3. Ποιος δημόσιος διοικητικός οργανισμός είναι κατά κύριο λόγο υπεύθυνος να παρέχει αυτή τη ψηφιακή δημόσια υπηρεσία; </b></h3>
 
    <ul>
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
    </ul>
  </div>

{% endblock %}
