{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h2>Περιγραφή Υπηρεσίας</h2>
 <div class="module">
    <p>Ερώτηση 1: Παρακαλώ συμπληρώστε το όνομά σας και στοιχεία επικοινωνίας (τηλέφωνο, αριθμός τηλεφώνου, διεύθυνση ηλεκτρονικού ταχυδρομείου)</p>
    <hr>
 
    <ul>
      <form action="." method="POST" class="form">{{form.as_p}}
      <p><input type="submit" value="Καταχώρηση"></p>
      {% csrf_token %}</form>
      
    </ul>
  </div>

{% endblock %}
