{% extends "base.html" %}
 
{% block title %}
 Ενότητα Γ
{% endblock %}

{% block content %}
  <h1>Ενότητα Γ: Καταναλώμενες Υπηρεσίες</h1>
<div class="module1">
   Πρόοδος 61%<table class="table1" border=1px align=left width=400px height=25px>
    <td bgcolor=#40ff0  style="width: 61%"></td>
    <td  style="width: 39%"></td></table>
    <p>Ερώτηση 17 από 28:<br><br>Γ1. Επιλέξτε τις υπηρεσίες που πρέπει να καταναλώσει η ψηφιακή δημόσια υπηρεσία σας για να λειτουργήσει. Καταχωρίστε τις υπηρεσίες που καταναλώνονται εντός της διοίκησης ή από τρίτους, τόσο χειροκίνητα όσο και ψηφιακά(Επιτρέπονται περισσότερες από μια απαντήσεις): </p> 
          <form action="" method="POST" class="form">{{form.as_p}}
      <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br>
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
   				
  </div>
{% endblock %}
