{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module">
     Πρόοδος 7%<table class="table1" border=1px align=left width=400px height=25px>
    <td bgcolor=#40ff0  style="width: 7%"></td>
    <td  style="width: 93%"></td></table>
    <p>Ερώτηση 2 από 28:<br><br>A2. Μια ψηφιακή δημόσια υπηρεσία έχει σκοπό το δημόσιο συμφέρον. Ποια είναι η ψηφιακή δημόσια υπηρεσία που εσείς παρέχετε στους τελικούς χρήστες (πολίτες, επιχειρήσεις ή άλλους δημόσιους οργανισμούς); </p>
 
    <ul>
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
    </ul>
  </div>

{% endblock %}
