{% extends "base.html" %}

{% block title %}
Περιγραφή Υπηρεσίας
{% endblock %}

{% block content %}
 <h1>Ενότητα Α: Περιγραφή Υπηρεσίας</h1>
 <div class="module">
    <h3><b>Ερώτηση 3:<br> Ποιος δημόσιος διοικητικός οργανισμός είναι κατά κύριο λόγο υπεύθυνος να παρέχει αυτή τη ψηφιακή δημόσια υπηρεσία; </b></h3>
 
    <ul>
          <form action="." method="POST" class="form">{{form.as_p}}
          <p><input type="submit" value="Καταχωρηση"></p>
            {% csrf_token %}</form>
    </ul>
  </div>

{% endblock %}
