{% load staticfiles %}
{% load questionnaire_tags %}
{% load mathfilters %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}ΙΜΜ{% endblock %}</title>
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    </head>
    <body>
    <div id="header">
        <a href="{% url 'questionnaire:initialize' %}">Ερωτηματολόγιο Διαλειτουργικότητας Ψηφιακών Δημοσίων Υπηρεσιών-ΙΜΜ</a>
        <ul class="menu">
        {% if request.user.is_authenticated %}
           <li><a href="{% url "logout" %}">Έξοδος</a></li>
        {% else %}
           <li><a href="{% url "login" %}">Είσοδος</a></li>
        {% endif %}
        </ul>
        
    </div>
    <div id="contents">
            {% block content %}
            {% endblock %}
    </div>
    

    

</body>
</html>
